@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    background-color: #e40f0f;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

#question-container {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #feedba;
}

#answer-options label {
    display: block;
    margin: 0.5rem 0;
}

.answer-button:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}

#submit-button {
    background-color: #2f16d1;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#submit-button:hover {
    background-color: #0d011a;
}

#feedback-container {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    color: green;
}

#navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#prev-button,
#next-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#prev-button:hover,
#next-button:hover {
    background-color: #555;
}

#prev-button:disabled,
#next-button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

#reset-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#reset-button:hover {
    background-color: #d32f2f;
}

.main-img-container {
    text-align: center;
}

#main-img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

footer {
    background-color: #e37474;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-media {
    flex: 1;
}

.social-media a {
    color: #3700ff;
    font-size: 18px;
    margin: 0 10px;
}

.social-media a:hover {
    color: #15de15;
}

.social-media p {
    flex: 1;
    margin: 10px 0;
    text-align: center;
}